/* =========================================================================
   CSS Variables
   ========================================================================= */

:root {
  --pst-font-size-h1: 2rem;
  --pst-font-size-h2: 1.6rem;
  --pst-font-size-h3: 1.35rem;
  --pst-font-size-h4: 1.15rem;
  --pst-font-size-h5: 1rem;
  --pst-font-size-h6: 0.9rem;
}

/* =========================================================================
   Layout
   ========================================================================= */

.bd-article {
  padding-top: 0.75rem;
}

.section {
  margin-bottom: 1.6rem;
}

p {
  margin-bottom: 0.7rem;
}

div.sidebar-primary-item > a.logo {
  display: flex;
  flex-direction: column;
}

img.index-logo {
  margin-bottom: 1rem;
}

/* =========================================================================
   Headings
   ========================================================================= */

.bd-content h1 {
  margin-top: 0;
}

.bd-content h2 {
  border-bottom: 1px solid var(--pst-color-border);
  padding-bottom: 0.3rem;
}

/* =========================================================================
   Typography / Code
   ========================================================================= */

.field-list ul {
  padding-left: 2em;
}
